.admissionsBody {
  position: relative;
  background: url('../images/lincolnuniversity1.jpg') fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
}
.aboutLUText {
  width: 100%;
  height: 50%;
  color: #003366;
  padding-top: 15%;
  text-align: center;
  position: relative;
  background-color: rgba(198, 198, 199, 0.6);
}

.orangeLine {
  width: 30%;
  height: 5px;
  background-color: orange;
}

.aboutLU {
  position: relative;
  top: 80px;
  right: 6%;
  width: 115%;
  height: 570px;
}

.aboutLUText h3 {
  font-size: 60px;
}

.aboutLUText h2 {
  font-size: 40px;
}

.aboutLUDescription {
  background-color: rgba(0, 51, 102, 0.6);
  color: orange;
  font-size: 30px;
  font-weight: 500;
  text-align: justify;
  height: 50%;
  padding: 8% 10%;
}

.carouselDiv {
  position: relative;
  width: 102%;
}

.admissionsMenuHolder {
  background-color: rgba(184, 187, 189, 0.5);
  margin-top: 30px;
}

.admissionsMenuContainer {
  height: 300px;
  background-color: rgba(255, 255, 255, 0.6);
  color: #003366;
  margin: 30px 0;
}
