.footerContainer {
  background-color: #003366;
  color: white !important;
  padding: 30px 0 10px 0;
  font-size: 14px;
}
.footerListItems {
  list-style: none;
}

.footerListItems li {
  cursor: pointer;
  margin-bottom: 5px;
}

.footerListItems li:hover {
  font-size: 15px;
  color: orange;
}

.footerListItems li:active {
  font-size: 14px;
  color: orange;
}

.lincolnLogo {
  width: 80px;
  background-color: white;
}

.lincolnLogoCol {
  text-align: center;
}

.lastFooterItemList {
  width: 250px;
}

.leftItemsList {
  border-right: 1px solid #627b9d;
}

.rightItemsList {
  border-left: 1px solid #627b9d;
}

.footerLine {
  width: 100%;
  height: 2px;
  background-color: #627b9d;
}

.iconsContainer {
  font-size: 25px;
  padding-left: 31%;
  margin-top: 20px;
}

.iconsContainer p {
  font-size: 13px;
  position: relative;
  left: 3%;
}

.socialMediaIconHolder {
  margin-left: 25px;
  cursor: pointer;
}

.socialMediaIconHolder a {
  color: white !important;
}

.socialMediaIconHolder a:hover {
  color: orange !important;
}
