.highlightImage {
  position: relative;
  cursor: pointer;
  width: 150px;
  height: 150px;
  border-radius: 50% !important;
  border: 4px solid orange;
  margin-bottom: 20px;
  transition: all 0.5s;
}

.highlightImage:hover {
  position: relative;
  width: 170px;
  height: 170px;
  transform: translate(-10px, -10px);
  margin-bottom: 0px;
}

.highlightTabRow {
  padding-top: 50px;
}

.highlightTextHolder {
  text-align: center;
  color: #003366;
}

.navText {
  cursor: pointer;
}
