.aboutMainBody {
  position: relative;
  background: url('../images/schoolimage1.jpg') fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
}

.aboutLUText {
  width: 100%;
  height: 50%;
  color: #003366;
  padding-top: 15%;
  text-align: center;
  position: relative;
  background-color: white !important;
}

.orangeLine {
  width: 30%;
  height: 5px;
  background-color: orange;
}

.aboutLU {
  position: relative;
  top: 80px;
  right: 6%;
  width: 115%;
  height: 570px;
}

.aboutLUText h3 {
  font-size: 60px;
}

.aboutLUText h2 {
  font-size: 40px;
}

.aboutLUDescription {
  background-color: rgba(0, 51, 102, 0.7);
  color: orange;
  font-size: 30px;
  font-weight: 500;
  text-align: justify;
  height: 50%;
  padding: 8% 10%;
}

.carouselDiv {
  position: relative;
  width: 102%;
}

.aboutMenuTitle {
  text-align: center;
  margin-bottom: 20px;
  color: #003366;
}

.aboutMenuHolder {
  margin-top: 30px;
}

.aboutMenu {
  box-shadow: 0 0px 30px rgb(219, 123, 13);
}

.aboutMenuItem {
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid #003366;
  position: relative;
  left: 0;
  height: 180px;
  color: #003366;
  font-family: impact;
  padding: 15px;
  cursor: pointer;
}

.aboutMenuItemHover {
  background-color: orange;
}

.aboutMenuRow {
  position: relative;
  left: -3%;
  top: 5%;
  width: 106%;
}

.aboutRow {
  border-top: 3px solid #003366;
  border-bottom: 3px solid #003366;
}

.aboutRowTitle {
  background-color: #003366;
  color: white;
  cursor: default;
}

.aboutRowTitle:hover {
  background-color: #003366;
}

.menuIcon {
  font-size: 80px;
  position: absolute;
  bottom: 10px;
}

.menuItemInfo {
  background-color: orange;
  position: absolute;
  top: 2px;
  left: 0%;
  width: 100%;
  height: 97.7%;
  z-index: 2;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}

.menuItemInfo:hover {
  transform: translate(98.5%);
}

.menuItemInfoLast {
  background-color: orange;
  position: absolute;
  top: 2px;
  padding-left: 25%;
  padding-top: 2%;
  right: 0%;
  width: 100%;
  height: 98%;
  z-index: 2;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}

.menuItemInfoLast:hover {
  transform: translate(-99%);
}

.aboutItemMoreLink {
  padding: 7% 0;
  color: #003366;
}

.aboutItemMoreLink ul {
  list-style: none;
  padding: 0;
}

.menuItemInfo .aboutItemMoreLink {
  padding-left: 12%;
}
