.topNavBar {
  position: relative;
  background-color: #003366;
  color: white !important;
  height: 80px;
  width: 102.5%;
  right: 1.25%;
}

.navBarOption {
  cursor: pointer !important;
  position: relative !important;
  top: 28px !important;
  color: white !important;
  padding-left: 15px !important;
  padding-right: 10px !important;
  border-left: 1px solid #627b9d !important;
  height: 50px !important;
  text-decoration: none !important;
}

.navBarOption:hover {
  position: relative !important;
  padding-left: 15px !important;
  padding-right: 10px !important;
  color: #003366 !important;
  font-weight: 600 !important;
  font-size: 18px !important;
}

.activeNavBarOption {
  text-decoration: none !important;
  width: 100% !important;
  position: relative;
  padding-left: 15px !important;
  color: #003366 !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  background-color: white !important;
}

.lastNavBarOption {
  border-right: 1px solid #627b9d;
  padding-right: 15px !important;
}

.logoImage {
  position: relative;
  top: 25px;
  width: 120px;
  cursor: pointer;
}

.navHolder {
  position: relative;
  right: 25%;
}

.subMenuHolder {
  position: relative;
  width: 100%;
}

.subMenu {
  background-color: white;
  padding: 20px 0;
  color: #003366;
}

.subMenuOption {
  padding: 0 10px;
}

.subMenuTitle {
  position: relative;
  height: 50px;
}

.subMenuTitle h5 {
  position: absolute;
  bottom: 0;
}

.subMenuItems ul {
  list-style: none;
  padding: 0;
}

.subMenuItems li {
  margin-bottom: 10px;
  cursor: pointer;
}

.activeSubMenuItem {
  font-size: 19px;
  padding-left: 5px;
  color: orange;
}

.activeSubMenuItem .subPawIcon {
  display: inline-block;
}

.subMenuItem:hover {
  font-size: 19px;
  padding-left: 5px;
  color: gray;
}

.subMenuItem:active {
  font-size: 19px;
  padding-left: 5px;
  color: orange;
}

.subMenuItem {
  transition: font-size 0.35s, padding-left 0.35s, color 0.35s;
}

.subPawIcon {
  display: none;
  transition: display 0.35s;
}

.subMenuItem:hover > .subPawIcon {
  display: inline-block;
}

.subMenuOption {
  width: 108%;
}

.navLink {
  color: white !important;
  text-decoration: none !important;
}
