.App {
  width: 100%;
}

.appBody {
  width: 100%;
  color: black !important;
  overflow-x: hidden;
}

.mainBodyContent {
  position: relative;
}

.navBarHolder {
  position: absolute;
  z-index: 5;
}

.carouselHolder {
  position: absolute;
  top: 0;
  left: 8%;
  width: 100%;
  height: 650px;
  z-index: 4;
}

.carouselDiv {
  position: relative;
  width: 100%;
  height: 650px;
  opacity: 0.3;
}

.lincolnNewsHolder {
  position: relative;
  padding-bottom: 30px;
}

.lincolnNewsHolder h2 {
  padding: 30px 0;
  padding-left: 8%;
  font-weight: 200;
}

.newsCard {
  cursor: pointer;
}

.moreNews {
  margin-top: 10px;
  width: 100px;
  cursor: pointer;
}

.videoHolder {
  position: relative;
  padding: 20px 0;
  box-shadow: 0 0px 10px rgba(128, 128, 128, 1);
  font-size: 20px;
}

.videoText {
  margin-top: 30%;
}

.highlightsHolder {
  position: relative;
  padding: 20px 0;
}

.eventDetailsHolder {
  text-align: center;
  margin-top: 20px;
}

.eventsHolder {
  text-align: center;
  box-shadow: 0 0px 10px rgba(128, 128, 128, 1);
  padding: 20px 0;
}

.dateHolder {
  width: 100px;
  height: 100px;
  border: 3px solid orange;
  padding-top: 25px;
  border-radius: 50% !important;
}

.eventInfo {
  margin-top: 10px;
}

.eventSummary {
  font-weight: 500;
  color: orange;
}
